#lienzo{
    background-image: url('../img/background_juego.jpg');
    background-repeat: no-repeat;
    background-size: 1300px 700px;
    background-position: center;
}

button{
    padding: 10px 25 px;
    font-size: 22px;
    line-height: 40px;
    min-width: 150px;
    text-align: center;
    cursor: pointer;
    background: blue;
    color: #f108d2;
    border-radius: 5px;
    border: 0px;
    height: 60px;
}

#quiz-time{
    background-color: #f108d2;
}